@import url('https://fonts.googleapis.com/css?family=Chilanka&display=swap');

body {
    margin: 0;
    padding: 0;
}

p, span, a, div {
    font-family: Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Chilanka', Arial, Helvetica, sans-serif;
}

main {
    display: flex;
    margin: 0 30px;
}

main aside {
    width: 30%;
}

main aside h1 {
    text-align: center;
}

main .content {
    width: 70%;
}

label, input {
    display: none;
}

.active input, .active label {
    display: unset;
}

.active {
    border: 2px solid #e6e6e6;
    box-sizing: border-box;
}

.container {
    min-height: 90vh;
    width: 100%;
    border: 2px solid #e6e6e6;
    margin-top: 30px;
    margin-bottom: 30px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.float {
    position: absolute;
    top: 50%;
    left: 50%;
}

.container > * {
    width: 50%;
    text-align: center;
    z-index: 1;
    align-self: flex-start; 
}

section .pickr .pcr-button {
    border: 2px solid #e6e6e6;
    padding: 1em;
    background-color: hsl
}

.container .pickr .pcr-button {
    display: none;
}

.container .active .pickr .pcr-button {
    border: 2px solid #e6e6e6;
    display: unset;
}

section p {
    display: none;
}

.active section p {
    display: unset;
}


.customize_component {
    opacity: 0;
    visibility: hidden;
    transition: all .3s;
}
.customize_component.visible {
    opacity: 1;
    visibility: visible;
}

.customize_component * {
    display: unset;
}